doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel='stylesheet', href='css/bootstrap-responsive.css') //probably already compiled into boostrap.min
    
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='startbootstrap-scrolling-nav-1.0.3/css/scrolling-nav.css')
    link(rel='stylesheet', href='css/style.css')

body
      h1 TECO #{title}
      p
        a(href="/kitchen") Our Teco Kitchen
      p
        a(href="/tillsoffice") Till's office
      p
        a(href="/matthiasoffice") The office of Matthias Berning
      p
        a(href="/livinglab") Living Lab
      p
        a(href="/iot2015") IoT2015 Demo